[submodule "vim-headerguard"]
	path = vim/.vim/pack/plugins/start/headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
[submodule "vim-sensible"]
	path = vim/.vim/pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
