[submodule "vim-headerguard"]
	path = vim/pack/plugins/start/headerguard
	url = https://github.com/Sigill/vim-headerguard.git
[submodule "vim-sensible"]
	path = vim/pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
