[submodule "bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/vim-headerguard"]
	path = vim/bundle/vim-headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
	ignore = untracked
[submodule "bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
